# Python Environment
__pycache__/
*.py[cod]
*$py.class
myenv/
.venv/
env/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Binary & Large Data Files
data/raw/
data/processed/
data/cleaned/

# Heavy ML Artifacts
artifacts/models/*.json
#artifacts/models/*.pkl
artifacts/models/*.bin
artifacts/models/*.joblib

# IDE & OS specific
.vscode/
.idea/
.DS_Store
